span{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.dropdown{
    position: relative;
    display: inline-block;
    font-size: 30px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.dropdown-toggle{
    cursor: pointer;
    background-color: goldenrod;
}

.dropdown-menu{
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-menu a hover{
    background-color:blueviolet;
}

.dropdown:hover .dropdown-menu{
    display:block;
}

li {
    float: left;
    
 }
   
.Buscador{
    display: block;
    padding: 8px;
    background-color: goldenrod;
   }

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   
}
    
li a{
    display: block;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    
}



.texto-mod{
    text-align: center;
    text-decoration-line: underline;
    font-size: 125px;
}

.texto-mod-2{
    font-size: 60px;
    text-align: center;
}

.tamaño-lista{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

.RN{
    background-color: rgb(128,0,0);
}

.R{
   background-color: rgb(0,51,102);
}

.P{
 background-color: rgb(173,216,203);
}

.E{
    background-color: rgb(204,0, 255);
}

.F{
background-color: rgb(150,111,86);
}

.nombre{
    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
}

.foto-artista{
    display: block;
    margin: auto;
}

h2{
    font-size:40px;
}

.Fondo{
color: white;
}

body{
    background-image: url("fondo-musica2.PNG");
    background-size:cover;
}

.fondo-principal{
    background-color: white;
    padding-left: 500px;
    padding-right: 500px;
}