.texto-mod{
    text-align: center;
    text-decoration-line: underline;
    font-size: 125px;
}

.texto-mod-2{
    font-size: 60px;
    text-align: center;
}

.tamaño-lista{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

.RN{
    background-color: rgb(128,0,0);
}

.R{
   background-color: rgb(0,51,102);
}

.P{
 background-color: rgb(173,216,203);
}

.E{
    background-color: rgb(204,0, 255);
}

.F{
background-color: rgb(150,111,86);
}

.nombre{
    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
}

.foto-artista{
    display: block;
    margin: auto;
}

h2{
    font-size:larger;
}

