.texto-mod{
    text-align: center;
    text-decoration-line: underline;
    font-size: 50px;
}

.texto-mod-2{
    font-size: 60px;
    text-align: center;
}

.tamaño-lista{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

.RN{
    background-color: rgb(128,0,0)
}